/* Empty. Add your own CSS if you like */


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
    .appportrait {
        position:absolute;             /* position in the center of the screen */
        left: 0%;
        top:10%;
                                       /* offset horizontal: half of text area width */
    }

    /* Landscape layout (with min-width) */
    .applandscape {
        position:absolute;             /* position in the center of the screen */
        left: 0%;
        top:10%;
    }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.lostconnection{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
.checkered{
    background-color: white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size:50px 50px;
    background-position: 0 0, 25px 25px;
}

#controlmsg  {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    width: 90%;
    border-collapse: collapse;
    table-layout:fixed;
}
#controlmsg td, #controlmsg th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#controlmsg td.override {
    font-size: .75em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#controlmsg th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #000000;
}
#controlmsg tr:hover {
    background-color: #ffff99;
}



div.container{ background: #ffffff; height: 100%; width: 100%; position:absolute; display:inline-block;}
div.hidecontainer{ background: #ffffff; height: 100%; width: 100%; position:absolute; display:none;}

div.globalflags{background: #ffffff; height: 50%; width: 100%; text-align: center; vertical-align: middle; position:absolute; }
div.localflags{background: #ffffff; height: 50%; width: 100%; text-align: center; vertical-align: middle; position:absolute; top: 50%; right:0%;}
div.hidemessages{ background: #ffffff; height: 100%; width: 100%; position:absolute; display: none;}
div.showmessages{ background: #ffffff; height: 100%; width: 100%; position:absolute; display: inline-block;}

